$columns: 100;
$columnsByMax: 10;

$defaultFontFamily: "Roboto";
$defaultHeadingFontFamily: "Roboto";
$defaultFontSize: 16px;
$defaultColor: #555;
$defaultHeadingsColor: #000;
$headerFontSizeStep: $defaultFontSize/5;
$defaultLineHeight: 1.2;

$defaultAlign: left;
$defaultVerticalAlign: top;

$defaultOffset: 5px;

$fontsPath: "/inc/assets/fonts";

$minWidth: 300px;
$maxWidth: 1100px;

$bodyPadding: 0 40px;

@import "keyframes";
@import "partials/mixins";
@import "partials/fonts/Roboto";
@import "partials/fonts/OpenSans";
@import "partials/fonts/RobotoCondensed";
@import "partials/base";
@import "partials/typo";
@import "partials/photobox";
@import "partials/style";
@import "partials/print";


