$columns: 100;
$columnsByMax: 10;

$defaultFontFamily: "Roboto";
$defaultHeadingFontFamily: "Roboto";
$defaultFontSize: 16px;
$defaultColor: #555;
$defaultHeadingsColor: #000;
$headerFontSizeStep: $defaultFontSize/5;
$defaultLineHeight: 1.2;

$defaultAlign: left;
$defaultVerticalAlign: top;

$defaultOffset: 5px;

$fontsPath: "/inc/assets/fonts";

$minWidth: 300px;
$maxWidth: 1100px;
$mobileTurn: 1150px;

$bodyPadding: 0 40px;

$paddingTop: 8px;
$paddingLeft: 30px;
$marginBottom: 5px;
$logoAlign: left;
$logoW: 80px;
$logoH: 90px;
$marginTopBars: 25px;

$borderSize: 1px;
$passiveColor: #E0E1E3;
$hoverColor: #F0F1F3;
$activeColor: #5a7fd5;
$blueColor: #7aa8c0;
$greenColor: #85b442;
$yellowColor: #e7c03d;

$radialSize: 195px;
$radialOffset: 10px;
$mainFontsize: 36px;
$linkFontsize: 20px;
$borderOffset: 20px;
$indexHoverColor: darken(rgba(35, 59, 39, 0.5), 10%);

$angleOffsetLeft: 40px;
$angleOffsetTop: 30px;

@import "keyframes";
@import "partials/mixins";
@import "partials/fonts/Roboto";
@import "partials/fonts/OpenSans";
@import "partials/fonts/RobotoCondensed";
@import "partials/base";
@import "partials/typo";
@import "partials/photobox";
@import "partials/mobile-nav";
@import "partials/style";
@import "partials/styleAdmin";
@import "partials/print";


