@font-face{
  font-family : 'Roboto Condensed';
  src         : url('#{$fontsPath}/RobotoCondensed/RobotoCondensedLight.eot');
  src         : url('#{$fontsPath}/RobotoCondensed/RobotoCondensedLight.eot?#iefix') format('embedded-opentype'),
  url('#{$fontsPath}/RobotoCondensed/RobotoCondensedLight.woff') format('woff'),
  url('#{$fontsPath}/RobotoCondensed/RobotoCondensedLight.ttf') format('truetype'),
  url('#{$fontsPath}/RobotoCondensed/RobotoCondensedLight.svg#roboto_condensedlight') format('svg');
  font-weight : 300;
  font-style  : normal;
}

@font-face{
  font-family : 'Roboto Condensed';
  src         : url('#{$fontsPath}/RobotoCondensed/RobotoCondensedLightItalic.eot');
  src         : url('#{$fontsPath}/RobotoCondensed/RobotoCondensedLightItalic.eot?#iefix') format('embedded-opentype'),
  url('#{$fontsPath}/RobotoCondensed/RobotoCondensedLightItalic.woff') format('woff'),
  url('#{$fontsPath}/RobotoCondensed/RobotoCondensedLightItalic.ttf') format('truetype'),
  url('#{$fontsPath}/RobotoCondensed/RobotoCondensedLightItalic.svg#roboto_condensedlight_italic') format('svg');
  font-weight : 300;
  font-style  : italic;
}

@font-face{
  font-family : 'Roboto Condensed';
  src         : url('#{$fontsPath}/RobotoCondensed/RobotoCondensedRegular.eot');
  src         : url('#{$fontsPath}/RobotoCondensed/RobotoCondensedRegular.eot?#iefix') format('embedded-opentype'),
  url('#{$fontsPath}/RobotoCondensed/RobotoCondensedRegular.woff') format('woff'),
  url('#{$fontsPath}/RobotoCondensed/RobotoCondensedRegular.ttf') format('truetype'),
  url('#{$fontsPath}/RobotoCondensed/RobotoCondensedRegular.svg#roboto_condensedregular') format('svg');
  font-weight : 400;
  font-style  : normal;
}

@font-face{
  font-family : 'Roboto Condensed';
  src         : url('#{$fontsPath}/RobotoCondensed/RobotoCondensedItalic.eot');
  src         : url('#{$fontsPath}/RobotoCondensed/RobotoCondensedItalic.eot?#iefix') format('embedded-opentype'),
  url('#{$fontsPath}/RobotoCondensed/RobotoCondensedItalic.woff') format('woff'),
  url('#{$fontsPath}/RobotoCondensed/RobotoCondensedItalic.ttf') format('truetype'),
  url('#{$fontsPath}/RobotoCondensed/RobotoCondensedItalic.svg#roboto_condenseditalic') format('svg');
  font-weight : 400;
  font-style  : italic;
}

@font-face{
  font-family : 'Roboto Condensed';
  src         : url('#{$fontsPath}/RobotoCondensed/RobotoCondensedBold.eot');
  src         : url('#{$fontsPath}/RobotoCondensed/RobotoCondensedBold.eot?#iefix') format('embedded-opentype'),
  url('#{$fontsPath}/RobotoCondensed/RobotoCondensedBold.woff') format('woff'),
  url('#{$fontsPath}/RobotoCondensed/RobotoCondensedBold.ttf') format('truetype'),
  url('#{$fontsPath}/RobotoCondensed/RobotoCondensedBold.svg#roboto_condensedbold') format('svg');
  font-weight : 700;
  font-style  : normal;
}

@font-face{
  font-family : 'Roboto Condensed';
  src         : url('#{$fontsPath}/RobotoCondensed/RobotoCondensedBoldItalic.eot');
  src         : url('#{$fontsPath}/RobotoCondensed/RobotoCondensedBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('#{$fontsPath}/RobotoCondensed/RobotoCondensedBoldItalic.woff') format('woff'),
  url('#{$fontsPath}/RobotoCondensed/RobotoCondensedBoldItalic.ttf') format('truetype'),
  url('#{$fontsPath}/RobotoCondensed/RobotoCondensedBoldItalic.svg#roboto_condensedbold_italic') format('svg');
  font-weight : 700;
  font-style  : italic;
}