<table style="width: 100%;" border="1" class="table" cellspacing="0" cellpadding="0">
    <tbody>
    <tr bgcolor="#058DAB">
        <td><font color="#fff">Тип рельса</font></td>
        <td><font color="#fff">Длина, м</font></td>
        <td><font color="#fff">ГОСТ или ТУ</font></td>
        <td><font color="#fff">Вес 1 шт по теории, тн</font></td>
        <td><font color="#fff">Вес 1 пог. метра,кг</font></td>
    </tr>
    <tr align="justify" bgcolor="#EFF0E6">
        <td>Р-50, Т1</td>
        <td>12,5</td>
        <td>51685-2000</td>
        <td>0,6475</td>
        <td>51,72</td>
    </tr>
    <tr align="justify" bgcolor="#EFF0E6">
        <td>Р-65</td>
        <td>12,5</td>
        <td>51685-2000</td>
        <td>0,822</td>
        <td>64,78</td>
    </tr>
    <tr align="justify" bgcolor="#EFF0E6">
        <td>РП-50</td>
        <td>12,5</td>
        <td>51045-97</td>
        <td>0,6565</td>
        <td>52,57</td>
    </tr>
    <tr align="justify" bgcolor="#EFF0E6">
        <td>Р-43</td>
        <td>12,5</td>
        <td>7173-54,4224-54</td>
        <td>0,548</td>
        <td>45,72</td>
    </tr>
    <tr align="justify" bgcolor="#EFF0E6">
        <td>Р-33</td>
        <td>8</td>
        <td>ТУ14-2Р-383-204</td>
        <td>0,287</td>
        <td>34,52</td>
    </tr>
    <tr align="justify" bgcolor="#EFF0E6">
        <td>Р-24</td>
        <td>8</td>
        <td>5876-82</td>
        <td>0,202</td>
        <td>25,7</td>
    </tr>
    <tr align="justify" bgcolor="#EFF0E6">
        <td>Р-18</td>
        <td>8</td>
        <td>5876-82</td>
        <td>0,154</td>
        <td>19,22</td>
    </tr>
    <tr align="justify" bgcolor="#EFF0E6">
        <td>Р-11</td>
        <td>8</td>
        <td>Китай</td>
        <td>0,12</td>
        <td>12,4</td>
    </tr>
    <tr align="justify" bgcolor="#EFF0E6">
        <td>КР-140</td>
        <td>11</td>
        <td>ДСТУ 2484-94</td>
        <td>1,628</td>
        <td>147,87</td>
    </tr>
    <tr align="justify" bgcolor="#EFF0E6">
        <td>КР-120</td>
        <td>11</td>
        <td>ДСТУ 2484-94</td>
        <td>1,272</td>
        <td>115,73</td>
    </tr>
    <tr align="justify" bgcolor="#EFF0E6">
        <td>КР-100</td>
        <td>11</td>
        <td>ДСТУ 2484-94</td>
        <td>0,91</td>
        <td>85,64</td>
    </tr>
    <tr align="justify" bgcolor="#EFF0E6">
        <td>КР-80</td>
        <td>11</td>
        <td>ДСТУ 2484-94</td>
        <td>0,657</td>
        <td>59,83</td>
    </tr>
    <tr align="justify" bgcolor="#EFF0E6">
        <td>КР-70</td>
        <td>11</td>
        <td>4121-96</td>
        <td>0.528</td>
        <td>48</td>
    </tr>
    <tr align="justify" bgcolor="#EFF0E6">
        <td>Т-62</td>
        <td>12,5</td>
        <td>ТУ 14-2Р-320-96</td>
        <td>0,779</td>
        <td>63,21</td>
    </tr>
    </tbody>
</table>