<table style="width: 100%;" border="1" class="table" cellspacing="0" cellpadding="0">
    <tbody>
    <tr bgcolor="#058DAB">
        <td><font color="#fff">Тип материала</font></td>
        <td><font color="#fff">Описание</font></td>
        <td><font color="#fff">Вес 1 шт по теории, кг</font></td>
        <td><font color="#fff">Кол-во в 1 тн. <br>теор. шт.</font></td>
    </tr>
    <tr align="justify" bgcolor="#EFF0E6">
        <td>Прокладка ЦП-143</td>
        <td>подрельсовая на КБ</td>
        <td>0,28</td>
        <td>4021</td>
    </tr>
    <tr align="justify" bgcolor="#EFF0E6">
        <td>ЦП-328</td>
        <td>под подкладку КБ 65</td>
        <td>0,72</td>
        <td>1573</td>
    </tr>
    <tr align="justify" bgcolor="#EFF0E6">
        <td>ЦП-362</td>
        <td>под подкладку Д 65</td>
        <td>0,72</td>
        <td>1568</td>
    </tr>
    <tr align="justify" bgcolor="#EFF0E6">
        <td>ЦП-356</td>
        <td>подрельсовая на КБ</td>
        <td>0,31</td>
        <td>4774</td>
    </tr>
    <tr align="justify" bgcolor="#EFF0E6">
        <td>ЦП-361</td>
        <td>под подкладку КД 65</td>
        <td>0,71</td>
        <td>1522</td>
    </tr>
    <tr align="justify" bgcolor="#EFF0E6">
        <td>ЦП-318</td>
        <td>подрельсовая на КБ 65</td>
        <td>0,31</td>
        <td>4006</td>
    </tr>
    <tr align="justify" bgcolor="#EFF0E6">
        <td>ЦП-363</td>
        <td>подрельсовая на КД 65</td>
        <td>0,34</td>
        <td>4007</td>
    </tr>
    <tr align="justify" bgcolor="#EFF0E6">
        <td>ЦП-204</td>
        <td>нашпальная ЖБР</td>
        <td>0,54</td>
        <td>1931</td>
    </tr>
    <tr align="justify" bgcolor="#EFF0E6">
        <td>СП-487</td>
        <td>под подкладку КБ 65</td>
        <td>0,73</td>
        <td>1574</td>
    </tr>
    <tr align="justify" bgcolor="#EFF0E6">
        <td>ОП-325</td>
        <td>под подкладку КБ 65</td>
        <td>0,75</td>
        <td>1381</td>
    </tr>
    <tr align="justify" bgcolor="#EFF0E6">
        <td>ОП-366</td>
        <td>под подкладку ДН-6-65</td>
        <td>0,82</td>
        <td>1433</td>
    </tr>
    <tr align="justify" bgcolor="#EFF0E6">
        <td>СП-815</td>
        <td>для стрелочных переводов</td>
        <td>0,38</td>
        <td>2859</td>
    </tr>
    </tbody>
</table>