<div class="page-bottom">
    <div class="page-container footer">

        <div class="footer-social">

            {{#each menu}}
            <a href="/{{this.url}}.html"
               class="footer-social-link {{#ifpagestarts this.url }} footer-social-link--active {{/ifpagestarts}}">
                {{this.name}}
            </a>
            {{/each}}


            <a download href="/assets/files/map.dotx" target="_blank" class="footer-social-link">
                Карта предприятия <i class="la la-download"></i>
            </a>

            <a download href="/assets/files/requisites.dotx" target="_blank" class="footer-social-link">
                Реквизиты <i class="la la-download"></i>
            </a>

            <a href="https://tochka.com/my/02b1ccac59ff43f49be7f5466a51d31e" class="footer-social-link">
                Онлайн-оплата <i class="la la-credit-card"></i>
            </a>

        </div>
        <div class="footer-social">
            <a class="footer-social-link" href="//vk.com/kupitrelsy" target="_blank">
                <i class="la la-vk"></i>
                vk
            </a>
            <a class="footer-social-link" href="//www.facebook.com/groups/1921075574798168/" target="_blank">
                <i class="la la-facebook"></i>
                facebook
            </a>
            <a class="footer-social-link" href="//plus.google.com/communities/102161111287666251042"
               target="_blank">
                <i class="la la-google-plus"></i>
                google+
            </a>
            <a class="footer-social-link" href="//twitter.com/kupitrelsy" target="_blank">
                <i class="la la-twitter"></i>
                twitter
            </a>
        </div>

        <div class="footer-text">
            <div class="footer-text-left">
                <p>&copy; 2001-2017</p>
                <p>Холдинг «Рельсовый завод «Опт-рельс»</p>
            </div>
            <div class="footer-text-right">
                <p>Управление холдингом: ООО «Торговый дом «Сибирский родник»</p>
                <p>ИНН 2311242581, КПП 231101001, ОГРН 1172375064685</p>
            </div>
        </div>


    </div>
</div>
