<div class="lightgallery">

    <a href="http://www.youtube.com/embed/eJoxbpNwAI8" rel="video"
       style="background-image: url('http://img.youtube.com/vi/eJoxbpNwAI8/0.jpg')">
        <img title='Тут будет название 0' src="http://img.youtube.com/vi/eJoxbpNwAI8/0.jpg"/>
    </a>

    <a href="/assets/images/photos/1.jpg" style="background-image: url('/assets/images/photos/1.jpg')">
        <img title='Тут будет название 1' src="/assets/images/photos/1.jpg"/>
    </a>

    <a href="/assets/images/photos/2.jpg" style="background-image: url('/assets/images/photos/2.jpg')">
        <img title='Тут будет название 2' src="/assets/images/photos/2.jpg"/>
    </a>

    <a href="/assets/images/photos/3.jpg" style="background-image: url('/assets/images/photos/3.jpg')">
        <img title='Тут будет название 3' src="/assets/images/photos/3.jpg"/>
    </a>

    <a href="/assets/images/photos/4.jpg" style="background-image: url('/assets/images/photos/4.jpg')">
        <img title='Тут будет название 4' src="/assets/images/photos/4.jpg"/>
    </a>

    <a href="/assets/images/photos/5.jpg" style="background-image: url('/assets/images/photos/5.jpg')">
        <img title='Тут будет название 5' src="/assets/images/photos/5.jpg"/>
    </a>

</div>