@media (min-width: $mobileTurn) {

  .big-breads,
  .header {
    display: block;
  }

  .mobile-navigation {
    display: none;
  }

  .header-langs-inner {
    .header-langs-lang {
      .flag {

      }
      .lang {
        font-size: 14px;
        padding: 1px 0 2px 0;
      }
    }
  }

}