html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

$paddingTop: 8px;
$paddingLeft: 30px;
$marginBottom: 5px;
$logoAlign: left;
$logoW: 80px;
$logoH: 90px;
$marginTopBars: 25px;

.mobile-navigation {

  display: block;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  background: #0b4d41;
  min-width: 450px;
  margin: 0;

  &,
  & * {
    box-sizing: border-box;
    text-align: left;
  }

  &__logo {

    display: inline-block;
    width: $logoW;
    max-width: $logoW;
    min-width: $logoW;
    height: $logoH;
    cursor: pointer;
    margin-left: $paddingLeft;
    padding-top: $paddingTop;
    padding-bottom: $paddingTop;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;

    &__img {
      display: block;
      width: 100%;
      height: auto;
    }

  }

  &__content {
    display: none;
    width: 100%;
    background: #fff;
    padding: $paddingTop $paddingLeft;
  }

  &__checkbox {

    display: none;

    &__label {

      box-sizing: content-box;
      display: block;
      width: 40px;
      height: 35px;
      padding: 5px;
      margin: $marginTopBars $paddingLeft 0 0;
      text-align: center;
      cursor: pointer;
      float: right;
      border-radius: 4px;
      &, & * {
        transition: all 0.2s ease-in-out;
      }

      &__bar {

        background: #fff;
        display: block;
        width: 100%;
        margin: 5px auto;
        text-align: center;
        height: 5px;
        float: left;

        &:first-child {
          margin-top: 0;
        }
      }
    }

    &:checked {
      + .mobile-navigation__checkbox__label {
        background: #072f28;
        transform: rotate(-90deg);
        > .mobile-navigation__checkbox__label__bar {
          &:nth-child(1) {
            transform: translateY(15px) rotate(45deg);
          }
          &:nth-child(2) {
            opacity: 0;
          }
          &:nth-child(3) {
            transform: translateY(-15px) rotate(-45deg);
          }
        }
      }
    }

  }

  &__langs {

    display: block;
    text-align: center;
    border: 2px dashed #3b8641;
    padding: 3px;
    margin: 5px 0;

    .header-langs-lang {
      float: none;
      display: inline-block;
      width: auto;
      color: #0b4d43;
      background: none;
      padding: 10px 15px;
      vertical-align: baseline;
      &--active {
        background: #0b4d43;
        color: #fff;
      }

      .flag {
        width: 30px;
        vertical-align: baseline;
      }
      .lang {
        color: inherit;
        vertical-align: baseline;
      }
    }

  }

  .header-navigation {
    display: block;
    width: 100%;
    .navigation-item {
      display: block;
      width: 100%;
      float: none;
      text-align: left;
      font-size: 100%;
      padding: 15px;
      margin-bottom: 5px;
    }
  }

}