@media (max-width: 500px) {
  .news-list {
    .news-list-item {

      background: #d4e5c5;
      padding: 30px 20px 20px 20px;
      margin-bottom: 20px;
      border: none;
      position: relative;

      .news-list-item-date {
        background: #0b4d41;
        color: #fff;
        text-align: center;
        position: absolute;
        left: 0;
        top: 0;
        padding: 3px 10px;
      }

      .news-list-item-dummy,
      .news-list-item-image {
        display: none;
      }
      .right {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}

@media (max-width: 800px) {
  .content-block-content.shop-item-content {

    .content-block-content-left {
      display: block;
      width: 100%;
      float: none;
      margin: 0;
    }
    .content-block-content-right {
      display: block;
      width: 100%;
      float: none;
      margin: 0;
    }

  }

}

@media (max-width: $mobileTurn) {

  .breadcrumbs {
    display: none;
  }

  .big-breads,
  .header {
    display: none;
  }

  .content-block.content-block--with-panel {
    .content-block-panel {
      display: none;
    }
    .content-block-content {
      float: none;
      padding: 0;
      width: 100%;
    }
  }

  .index_page {

    background: #0b4d41;

    .mobile-navigation-bread {
      display: none;
    }

    .vegas-slide {
      display: none;
    }

    .radialContainers {

      &-left,
      &-right {
        overflow: visible;
        .radialContainer-link {
          display: none;
        }
      }

      &-left {
        .radialContainer--1 {
          text-align: right;
          left: auto;
          right: -3%;
        }
      }

      &-right {
        .radialContainer--2 {
          text-align: left;
          right: auto;
          left: -3%;
        }
      }

      .radialContainers-logo {
        img {
          display: none;
        }
        .slogan {
          border: none;
          text-align: center;
          margin-left: 0;
        }
      }
      .footerSocial {
        display: none;
      }

    }

  }

  .footer {

    .footerRights {
      display: none;
    }
    .footerSocial {
      display: block !important;
      width: 100% !important;
      .footerSocial-icons {
        display: inline-block;
        width: auto;
      }
    }
  }

  .new-content {
    .new-content-img {
      margin-top: 20px;
    }
  }
}
















