$borderSize: 1px;
$passiveColor: #E0E1E3;
$hoverColor: #F0F1F3;
$activeColor: #5a7fd5;
$blueColor: #7aa8c0;
$greenColor: #85b442;
$yellowColor: #e7c03d;

.wrapper {
  display: table;
  height: 100%;
  min-height: 100%;
  width: 100%;
  table-layout: auto;
  text-align: center;
  &-top,
  &-bottom {
    text-align: center;
    display: table-row;
  }
  &-top {
    height: auto;
    vertical-align: top;
    & > .page-container {
      background: #fff;
    }
  }
  &-bottom {
    vertical-align: bottom;
    height: 1%;
  }
}

.page-container {
  width: 100%;
  margin: auto;
  text-align: center;
  max-width: $maxWidth;
  display: block;
  padding: 0 40px;
  @include boxSizing();
}

.header {
  display: block;
  width: 100%;
  text-align: center;
  height: auto;
  margin: auto;
  vertical-align: baseline;
  background: #9a9b8d;
  &-row {
    display: table;
    width: 100%;
    table-layout: auto;
    vertical-align: middle;
    text-align: left;
    border-collapse: collapse;
  }
  &-navigation {
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    width: auto;
    .navigation-item {
      font-family: 'Open Sans';
      font-weight: 400;
      padding: 10px;
      text-align: center;
      text-decoration: none;
      color: #050608;
      width: auto;
      font-size: 90%;
      display: block;
      float: left;
      &:hover {
        background: lighten(#9a9b8d, 5%);
      }
      &--active,
      &--active:hover {
        background: #050608;
        color: #fff;
      }
      &.garden-item {
        &,
        &:hover,
        &--active,
        &--active:hover {
          background: #e7c03d;
          color: #000;
        }
      }
      &.home-item {
        &,
        &:hover,
        .navigation-item--active,
        .navigation-item--active:hover {
          color: #000;
          background: #7baabe;
        }
      }
    }
  }
  &-langs {
    vertical-align: middle;
    display: table-cell;
    text-align: right;
    width: auto;
    &-inner {
      display: block;
      width: 120px;
      text-align: right;
      float: right;
    }
    &-lang {
      text-decoration: none;
      display: block;
      float: right;
      font-size: 90%;
      padding: 10px;
      &:hover {
        background: lighten(#9a9b8d, 5%);
      }
      &--active,
      &--active:hover {
        background: #050608;
        color: #fff;
      }
    }
  }
}

.footer {
  width: 100%;
  margin: 0;
  background: #1b1f20;
  border-top: 4px solid $greenColor;

  .footerRights {
    padding: 40px 0;
    display: block;
    float: right;
    width: 40%;
    @include boxSizing();
    &-left {
      text-align: right;
      float: left;
      width: 20%;
      @include boxSizing();
      svg {
        display: block;
        width: 80px;
        height: 102px;
      }
    }
    &-right {
      width: 80%;
      display: block;
      float: right;
      @include boxSizing();
      padding-top: 10px;
      p {
        text-align: left;
        @include boxSizing();
        padding: 0 0 0 30px;
        margin: 0;
        color: #eee;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

.footerSocial {
  @include boxSizing();
  padding: 40px 0;
  float: left;
  width: 60%;
  display: block;
  &-icons {
    a {
      display: inline-block;
      height: 34px;
      width: 34px;
      float: left;
      margin: 3px;
      padding: 2px;
      &:hover {
        .st0 {
          fill: #fff;
        }
      }
      svg {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.big-breads {
  background: #0b4d41;
  padding: 30px 0;
  &-inner {
    max-width: $maxWidth;
    margin: auto;
    padding: 0 40px;
  }
  &-logo {
    display: block;
    float: left;
    width: 25%;
    text-align: center;
    svg {
      display: block;
      width: 120px;
      height: 154px;
      margin: auto;
    }
  }
  &-caption {
    display: block;
    float: left;
    width: 75%;
    text-align: left;
    &-text {
      padding: 60px 0 0 80px;
      color: #fff;
      font-size: 32px;
      font-family: "Roboto Condensed";
      width: 100%;
      height: auto;
      display: inline-block;
    }
  }
}

.big-breads .big-breads-logo,
.content-block .content-block-panel {
  width: 25%;
  padding-right: 30px;
  border-right: 2px dotted #497168;
}

.big-breads .big-breads-caption,
.content-block--with-panel .content-block-content {
  width: 75%;
}

.content-block {
  width: 100%;
  display: block;
  margin: 0;
  text-align: left;
  background: #fff;
  padding: 40px 0;
  &-content {
    display: block;
    float: none;
    width: 100%;
  }
  .content-block-panel {
    display: block;
    float: left;
    .content-block-panel-item {
      display: block;
      width: 100%;
      padding: 13px 8px 8px 8px;
      text-decoration: none;
      color: #7c7c7e;
      margin: 0 0 4px 0;
      &:hover {
        background: $passiveColor;
        color: #000;
      }
      &--active,
      &--active:hover {
        color: #000;
        background: $greenColor;
      }
      .nav-helper {
        font-weight: bold;
      }
    }
  }
  &--with-panel {
    .content-block-content {
      float: left;
      padding: 0 0 0 80px;
      > h1:first-child {
        margin-top: 0;
      }
    }
  }
}

.new-content {
  text-align: left;
  .new-content-img {
    display: block;
    width: 100%;
    height: auto;
  }
  .new-content-date {
    text-transform: lowercase;
  }
}

.news-list {
  &-item {
    display: block;
    padding: 30px 0;
    border-top: 1px solid $greenColor;
    text-decoration: none;
    .right {
      display: block;
      width: 100%;
      padding-left: 150px;
      padding-right: 20px;
    }
    &-image,
    &-dummy {
      display: block;
      width: 110px;
      height: 110px;
      background: #b8b8b8;
      float: left;
    }
    &-date {
      display: block;
      text-transform: lowercase;
    }
    &-caption {
      display: block;
      font-weight: bold;
      font-size: 18px;
      margin: 15px 0;
    }
    &-text {
      display: block;
    }
  }
}

//.fotorama__select {
//  .galleryBlock {
//    width: 600px;
//    max-width: 600px;
//    height: 300px;
//    display: table;
//    vertical-align: middle;
//    text-align: left;
//    .galleryCaption {
//      vertical-align: middle;
//      display: table-cell;
//      padding: 40px;
//      font-size: 200%;
//      font-weight: 700;
//      font-family: 'Roboto Condensed';
//      color: #fff;
//      text-shadow: 0 4px 20px #000;
//    }
//  }
//}

.pagination-scroll {
  width: 100%;
  display: table;
  padding: 20px 0;
  &-prev,
  &-next,
  &-mid {
    display: table-cell;
    width: 33.3333%;
    min-width: 33.3333%;
    max-width: 33.3333%;
    .pagination-scroll-link {
      font-size: 34px;
      display: inline-block;
      width: auto;
      padding: 10px;
      text-decoration: none;
    }
  }
  &-prev {
    text-align: left;
    .pagination-scroll-link {

    }
  }
  &-mid {
    text-align: center;
    .pagination-scroll-link {
      font-size: 26px;
    }
  }
  &-next {
    text-align: right;
    .pagination-scroll-link {

    }
  }
}

.photobox_container {
  display: block;
  padding: 40px 0;
  width: 100%;
  a {
    display: block;
    float: left;
    width: 19.2%;
    height: 19.2%;
    margin: 0 1% 1% 0;
    text-decoration: none;
    &,
    &[rel='video'] {
      position: relative;
      img {
        display: block;
        margin: auto;
        width: 130px;
        height: 130px;
      }
    }
    &[rel='video'] {
      &:after {
        content: '\25BA';
        position: absolute;
        left: 0;
        top: 0;
        color: #FFFFFF;
        background: #000000;
        border-radius: 5px;
        padding: 5px;
        margin: 5px;
        display: inline-block;
        box-shadow: 0 0 5px #000000;
      }
    }
    &:nth-child(5n+5) {
      margin-right: 0;
    }
  }
}

//html[lang='am'] {
//  * {
//    font-family: Tahoma !important;
//  }
//}

.index_page {
  .wrapper-top {
    .page-container {
      background: none;
    }
  }
}

html.green_color {
  .footer {
    border-color: $greenColor;
  }
}

html.blue_color {
  .footer {
    border-color: $blueColor;
  }
  .content {
    &-block {
      &-panel {
        &-item {
          color: #000 !important;
          font-weight: bold;
          &--active,
          &--active:hover {
            background: $blueColor !important;
            color: #000 !important;
          }
        }
        &-child {
          font-weight: normal;
          font-style: italic;
          padding-left: 20px !important;
          color: #555 !important;
          &--active,
          &--active:hover {
            background: $blueColor !important;
            color: #555 !important;
          }
        }
      }
    }
  }
}

html.yellow_color {

  .footer {
    border-color: $yellowColor;
  }

  .content {
    &-block {
      &-panel {
        &-item {
          color: #000 !important;
          font-weight: bold;
          &--active,
          &--active:hover {
            background: $yellowColor !important;
            color: #000 !important;
          }
        }
        &-child {
          font-weight: normal;
          font-style: italic;
          padding-left: 20px !important;
          color: #555 !important;
          &--active,
          &--active:hover {
            background: $yellowColor !important;
            color: #555 !important;
          }
        }
      }
    }
  }

}

.index_page {
  .big-breads {
    display: none;
  }
}

$radialSize: 195px;
$radialOffset: 10px;
$mainFontsize: 36px;
$linkFontsize: 20px;
$borderOffset: 20px;
$indexHoverColor: darken(rgba(35, 59, 39, 0.5), 10%);

$angleOffsetLeft: 40px;
$angleOffsetTop: 30px;

.radialContainers {
  display: block;
  width: 100%;
  margin: auto;
  text-align: center;
  height: $radialSize*2;
  line-height: $radialSize*2;
  position: relative;
  font-family: 'Open Sans';
  font-weight: 200;
  .radialContainer {
    display: block;
    width: $radialSize;
    height: $radialSize;
    position: absolute;
    top: 50%;
    margin-top: -($radialSize/2);
    border-radius: 50%;
    .radialContainer-link {
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      width: $radialSize;
      margin-left: -($radialSize/2);
      text-align: center;
      padding: 10px;
      margin-top: -20px;
      color: #fff;
      font-size: $linkFontsize;
      line-height: $linkFontsize;
      text-decoration: none;
      font-family: 'Open Sans';
      font-weight: 200;
    }
    .radialContainer-link-main {
      text-decoration: none;
      text-align: center;
      width: $radialSize - $borderOffset;
      height: $radialSize - $borderOffset;
      margin-top: $borderOffset/2;
      margin-left: $borderOffset/2;
      display: block;
      color: #fff;
      font-size: $mainFontsize;
      line-height: $radialSize - $mainFontsize;
      border-radius: 50%;
      font-family: 'Open Sans';
      font-weight: 200;
    }

    &--1 {
      left: 55%;
      .radialContainer-link {
        @for $number from 1 through 3 {
          &.radialContainer-link-#{$number} {
            text-align: right;
            @if $number==1 {
              left: -$radialOffset*4 - $angleOffsetLeft;
              top: -$radialOffset*4 + $angleOffsetTop;
            } @else if $number==2 {
              left: -$radialSize/2 - $radialOffset*4;
              top: $radialSize/2;
            } @else if $number==3 {
              left: -$radialOffset*4 - $angleOffsetLeft;
              top: $radialSize + $radialOffset*4 - $angleOffsetTop;
            }
            &:before {
              display: block;
              position: absolute;
              width: $radialOffset*3;
              border-top: 2px dotted #fff;
              content: '';
              @if $number==1 {
                right: -$radialOffset;
                bottom: -$radialOffset;
                transform: rotate(45deg);
              } @else if $number==2 {
                right: -$radialOffset*3.5;
                bottom: $radialOffset*1.7;
              } @else if $number==3 {
                transform: rotate(-45deg);
                right: -$radialOffset;
                top: -$radialOffset;
              }
            }
          }
        }
      }
    }
    &--2 {
      right: 55%;
      .radialContainer-link {
        @for $number from 1 through 3 {
          &.radialContainer-link-#{$number} {
            text-align: left;
            @if $number==1 {
              left: $radialSize + $radialOffset*4 + $angleOffsetLeft;
              top: -$radialOffset*4 + $angleOffsetTop;
            } @else if $number==2 {
              left: $radialSize+$radialSize/2 + $radialOffset*4;
              top: $radialSize/2;
            } @else if $number==3 {
              left: $radialSize + $radialOffset*4 + $angleOffsetLeft;
              top: $radialSize + $radialOffset*4 - $angleOffsetTop;
            }
            &:before {
              display: block;
              position: absolute;
              width: $radialOffset*3;
              border-top: 2px dotted #fff;
              content: '';
              @if $number==1 {
                left: -$radialOffset;
                bottom: -$radialOffset;
                transform: rotate(-45deg);
              } @else if $number==2 {
                left: -$radialOffset*3.5;
                bottom: $radialOffset*1.7;
              } @else if $number==3 {
                transform: rotate(45deg);
                left: -$radialOffset;
                top: -$radialOffset;
              }
            }
          }
        }
      }
    }
  }
  &-left,
  &-right {
    height: $radialSize*2;
    line-height: $radialSize*2;
    position: relative;
    display: block;
    float: left;
    width: 50%;
    overflow: hidden;
    cursor: pointer;
    .radialContainer-link,
    .radialContainer-link-main,
    .radialContainer {
      transition: all 0.3s ease-in-out;
    }
    .radialContainer {
      &:after {
        content: '';
        display: block;
        width: $radialSize;
        height: $radialSize;
        position: absolute;
        top: -2px;
        left: -2px;
        border-radius: 50%;
        border: 2px dotted #fff;
      }
    }
    .radialContainer-link {
      opacity: 0;
    }
    &:hover {
      .radialContainer {
        transform: scale(1.2);
        &:after {
          animation-name: rotate;
          animation-duration: 10s;
          animation-delay: 0s;
          animation-iteration-count: infinite;
          animation-timing-function: linear;
        }
      }
      .radialContainer-link-main {
        background: $indexHoverColor;
      }
      .radialContainer-link {
        opacity: 1;
      }
      .radialContainer-link-1 {
        transition-delay: 0.25s;
      }
      .radialContainer-link-2 {
        transition-delay: 0.45s;
      }
      .radialContainer-link-3 {
        transition-delay: 0.65s;
      }
    }
  }
  &-logo {
    position: absolute;
    top: -130px;
    left: 0;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    img {
      display: inline-block;
      vertical-align: middle;
      width: 140px;
      height: 140px;
    }
    .slogan {
      display: inline-block;
      vertical-align: middle;
      width: auto;
      max-width: 300px;
      padding: 5px 0 5px 40px;
      margin-left: 30px;
      color: #fff;
      font-size: 28px;
      text-align: left;
      border-left: 2px dotted #fff;
      line-height: 1.1;
      font-family: 'Open Sans';
      font-weight: 200;
    }
  }
}

.index_page {
  background-color: #000;
  .animated {
    &.fadeInDown {
      animation-delay: 1s;
    }
  }
  .wrapper-top {
    & > .page-container {
      overflow: hidden;
      position: relative;
      height: $radialSize*3.5;
      .radialContainers {
        position: absolute;
        top: 55%;
        left: 0;
        margin-top: -$radialSize;
      }
      .footerSocial {
        width: 50%;
        float: none;
        margin: auto;
        text-align: center;
        a {
          float: none;
          display: inline-block;
        }
      }
    }
  }
  .footer {
    .footerRights {
      margin-right: 25%;
    }
    .footerSocial {
      display: none;
    }
  }
}

