$borderSize: 1px;
$passiveColor: #E0E1E3;
$hoverColor: #F0F1F3;
$activeColor: #5a7fd5;
$blueColor: #7aa8c0;
$greenColor: #85b442;
$yellowColor: #e7c03d;

.wrapper {
  display: table;
  height: 100%;
  min-height: 100%;
  width: 100%;
  table-layout: auto;
  text-align: center;
  &-top,
  &-bottom {
    text-align: center;
    display: table-row;
  }
  &-top {
    height: auto;
    vertical-align: top;
    & > .page-container {
      background: #fff;
    }
  }
  &-bottom {
    vertical-align: bottom;
    height: 1%;
  }
}

.page-container {
  width: 100%;
  margin: auto;
  text-align: center;
  max-width: $maxWidth;
  display: block;
  padding: 0 40px;
  @include boxSizing();
}

.header {
  display: block;
  width: 100%;
  text-align: center;
  height: auto;
  margin: auto;
  vertical-align: baseline;
  background: #9a9b8d;
  &-row {
    display: table;
    width: 100%;
    table-layout: auto;
    vertical-align: middle;
    text-align: left;
    border-collapse: collapse;
  }
  &-navigation {
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    width: auto;
    .navigation-item {
      font-family: 'Roboto Condensed';
      padding: 10px;
      text-align: center;
      text-decoration: none;
      color: #050608;
      width: auto;
      font-size: 90%;
      display: block;
      float: left;
      &:hover {
        background: lighten(#9a9b8d, 5%);
      }
      &--active,
      &--active:hover {
        background: #050608;
        color: #fff;
      }
      &.garden-item {
        &,
        &:hover,
        &--active,
        &--active:hover {
          background: #e7c03d;
          color: #000;
        }
      }
      &.home-item {
        &,
        &:hover,
        .navigation-item--active,
        .navigation-item--active:hover {
          color: #000;
          background: #7baabe;
        }
      }
    }
  }
  &-langs {
    vertical-align: middle;
    display: table-cell;
    text-align: right;
    width: auto;
    &-inner {
      display: block;
      width: 120px;
      text-align: right;
      float: right;
    }
    &-lang {
      text-decoration: none;
      display: block;
      float: right;
      font-size: 90%;
      padding: 10px;
      &:hover {
        background: lighten(#9a9b8d, 5%);
      }
      &--active,
      &--active:hover {
        background: #050608;
        color: #fff;
      }
    }
  }
}

.footer {
  width: 100%;
  margin: 0;
  background: #1b1f20;
  border-top: 4px solid $greenColor;
  .footerSocial {
    @include boxSizing();
    padding: 40px 0;
    float: left;
    width: 60%;
    display: block;
    &-icons {
      a {
        display: inline-block;
        height: 34px;
        width: 34px;
        float: left;
        margin: 3px;
        padding: 2px;
        &:hover {
          .st0 {
            fill: #fff;
          }
        }
        svg {
          display: block;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .footerRights {
    padding: 40px 0;
    display: block;
    float: right;
    width: 40%;
    @include boxSizing();
    &-left {
      text-align: right;
      float: left;
      width: 20%;
      @include boxSizing();
      svg {
        display: block;
        width: 80px;
        height: 102px;
      }
    }
    &-right {
      width: 80%;
      display: block;
      float: right;
      @include boxSizing();
      padding-top: 10px;
      p {
        text-align: left;
        @include boxSizing();
        padding: 0 0 0 30px;
        margin: 0;
        color: #eee;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

.big-breads {
  background: #0b4d41;
  padding: 30px 0;
  &-inner {
    max-width: $maxWidth;
    margin: auto;
    padding: 0 40px;
  }
  &-logo {
    display: block;
    float: left;
    width: 25%;
    text-align: center;
    svg {
      display: block;
      width: 120px;
      height: 154px;
      margin: auto;
    }
  }
  &-caption {
    display: block;
    float: left;
    width: 75%;
    text-align: left;
    &-text {
      padding: 60px 0 0 80px;
      color: #fff;
      font-size: 32px;
      font-family: "Roboto Condensed";
      width: 100%;
      height: auto;
      display: inline-block;
    }
  }
}

.big-breads .big-breads-logo,
.content-block .content-block-panel {
  width: 25%;
  padding-right: 30px;
  border-right: 2px dotted #497168;
}

.big-breads .big-breads-caption,
.content-block--with-panel .content-block-content {
  width: 75%;
}

.content-block {
  width: 100%;
  display: block;
  margin: 0;
  text-align: left;
  background: #fff;
  padding: 40px 0;
  &-content {
    display: block;
    float: none;
    width: 100%;
  }
  .content-block-panel {
    display: block;
    float: left;
    .content-block-panel-item {
      display: block;
      width: 100%;
      padding: 13px 8px 8px 8px;
      text-decoration: none;
      color: #7c7c7e;
      margin: 0 0 4px 0;
      &:hover {
        background: $passiveColor;
        color: #000;
      }
      &--active,
      &--active:hover {
        color: #000;
        background: $greenColor;
      }
    }
  }
  &--with-panel {
    .content-block-content {
      float: left;
      padding: 0 0 0 80px;
      > h1:first-child {
        margin-top: 0;
      }
    }
  }
}

.news-list {
  &-item {
    display: block;
    padding: 30px 0;
    border-top: 1px solid $greenColor;
    text-decoration: none;
    .right {
      display: block;
      width: 100%;
      padding-left: 150px;
      padding-right: 20px;
    }
    &-image,
    &-dummy {
      display: block;
      width: 110px;
      height: 110px;
      background: #b8b8b8;
      float: left;
    }
    &-date {
      display: block;
      text-transform: lowercase;
    }
    &-caption {
      display: block;
      font-weight: bold;
      font-size: 18px;
      margin: 15px 0;
    }
    &-text {
      display: block;
    }
  }
}

//.breadcrumbs {
//  margin: 20px 0;
//  &-item,
//  &-sep,
//  &-current {
//    text-overflow: ellipsis;
//    text-decoration: none;
//    white-space: nowrap;
//    max-width: 200px;
//    float: left;
//    padding: 5px;
//  }
//  &-sep {
//
//  }
//  &-item {
//
//  }
//  &-current {
//
//  }
//}

//.news-navigation {
//  display: block;
//  margin: 30px 0;
//  padding: 0;
//  &-prev,
//  &-next {
//    width: 350px;
//    display: block;
//    text-decoration: none;
//    padding: 10px;
//    &:hover {
//      background: $hoverColor;
//    }
//    &-image {
//      display: block;
//      width: 30px;
//      height: 50px;
//      .arrow {
//        display: block;
//        width: 100%;
//        height: auto;
//      }
//    }
//    &-text {
//      width: 300px;
//      display: block;
//      padding: 7px 0 0 0;
//      &-caption,
//      &-date {
//        display: block;
//        width: 100%;
//        white-space: nowrap;
//        text-overflow: ellipsis;
//        overflow: hidden;
//      }
//      &-caption {
//        font-weight: 700;
//      }
//      &-date {
//        font-size: 90%;
//      }
//    }
//  }
//  &-prev {
//    &,
//    &-image,
//    &-text {
//      float: left;
//    }
//    &-text {
//      text-align: left;
//      padding-left: 20px;
//    }
//  }
//  &-next {
//    &,
//    &-image,
//    &-text {
//      float: right;
//    }
//    &-text {
//      text-align: right;
//      padding-right: 20px;
//    }
//  }
//}
//
//.new-content {
//  .new-content-caption-block {
//    margin: 20px 0;
//    .new-content-date {
//      float: right;
//      width: 200px;
//      text-align: right;
//    }
//    .new-content-caption {
//      float: left;
//      margin: 0;
//      width: 600px;
//    }
//  }
//}

//.fotorama__select {
//  .galleryBlock {
//    width: 600px;
//    max-width: 600px;
//    height: 300px;
//    display: table;
//    vertical-align: middle;
//    text-align: left;
//    .galleryCaption {
//      vertical-align: middle;
//      display: table-cell;
//      padding: 40px;
//      font-size: 200%;
//      font-weight: 700;
//      font-family: 'Roboto Condensed';
//      color: #fff;
//      text-shadow: 0 4px 20px #000;
//    }
//  }
//}

//.indexPage {
//  &-left {
//    float: left;
//    width: 60%;
//    padding-right: 40px;
//  }
//  &-right {
//    width: 40%;
//    float: right;
//    .news-list {
//      &-item {
//        &-image,
//        &-dummy {
//          width: 50px;
//          height: 50px;
//        }
//        .right {
//          .news-list-item-date {
//
//          }
//          .news-list-item-caption {
//            font-size: 100%;
//          }
//          .news-list-item-text {
//            display: none;
//          }
//        }
//      }
//    }
//  }
//}

.pagination-scroll {
  width: 100%;
  display: table;
  padding: 20px 0;
  &-prev,
  &-next,
  &-mid {
    display: table-cell;
    width: 33.3333%;
    min-width: 33.3333%;
    max-width: 33.3333%;
    .pagination-scroll-link {
      font-size: 34px;
      display: inline-block;
      width: auto;
      padding: 10px;
      text-decoration: none;
    }
  }
  &-prev {
    text-align: left;
    .pagination-scroll-link {

    }
  }
  &-mid {
    text-align: center;
    .pagination-scroll-link {
      font-size: 26px;
    }
  }
  &-next {
    text-align: right;
    .pagination-scroll-link {

    }
  }
}

//html[lang='am'] {
//  * {
//    font-family: Tahoma !important;
//  }
//}

.index_page {
  .wrapper-top {
    .page-container {
      background: none;
    }
  }
}

html.green_color {
  .footer {
    border-color: $greenColor;
  }
}

html.blue_color {
  .footer {
    border-color: $blueColor;
  }
}

html.yellow_color {
  .footer {
    border-color: $yellowColor;
  }
}

.index_page {
  .big-breads {
    display: none;
  }
}