.ajax-file-upload-statusbar {
  display : none;
}

.ajax-file-upload {
  font-weight           : bold;
  padding               : 10px 20px;
  text-align            : center;
  cursor                : pointer !important;
  display               : block;
  border                : 1px solid #E8E8E8;
  color                 : #FFFFFF;
  text-decoration       : none;
  border-radius         : 3px;
  -webkit-border-radius : 3px;
  -moz-border-radius    : 3px;
  background            : #2F8AB9;
}

.ajax-file-upload input {
  background : red;
}

.ajax-file-upload:hover {
  background : #3396C9;
}

.ajax-upload-dragdrop {
  border                : 2px dotted #CCCCCC;
  width                 : 100%;
  font-weight           : bold;
  color                 : #555555;
  text-align            : left;
  vertical-align        : middle;
  padding               : 10px;
  display               : block;
  border-radius         : 3px;
  -webkit-border-radius : 3px;
  -moz-border-radius    : 3px;
}